// @import '../../styles/variables';
// @import '../../styles/mixins';

.footer {
    padding: 10ox 0;
    background-color: rgb(226, 225, 225);
    border-top: 1px solid rgba(128, 128, 128, 0.334);
    text-align: center;
    color: rgba(0, 0, 0, 0.783);
    font-size: 0.875rem;
  }