.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &__container{   
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        h1{
            font-size: 1.5rem;
            margin-right: 5%;
            padding: 0;
            color: rgb(0, 0, 0);
        }
        & a{
            text-decoration: none;
            color: black;
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 6%;
        & button{
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.5rem;
            background-color: rgb(20, 18, 18);
            color: rgb(255, 255, 255);
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &--login{
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            &:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }
        &--register{
            background-color: rgb(169, 36, 36)!important;
            color: rgb(255, 255, 255);
            &:hover{
                background-color: rgba(254, 61, 61, 0.915);
                color: rgb(255, 255, 255);
            } 
        }
    }
}