<nav class="navbar">
    <div class="navbar__container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="HowToVote"></mat-icon>
        <h1>Voting System</h1>
        <a href="">Home</a>
        <a href="">Candidates</a>
        <a href="">Statistics</a>
    </div>
    
    <div class="navbar__right">
        <button class="navbar__button navbar__button--login">Login</button>
        <button class="navbar__button navbar__button--register">Register</button>
    </div>
</nav>
