<section class="banner">
    <div class="banner__left">
        <h2 class="banner__title">Vota por tus candidatos</h2>
        <p class="banner__parf">Participe en nuestro sistema de votación seguro y transparente para elegir
            a los representantes que
            forjarán nuestro futuro.
            Cada voto cuenta para construir un futuro mejor.
        </p>
        <div class="banner__container">
            <button class="banner__button" class="banner__registro">Registrate</button>
            <button class="banner__button ">Ingresa</button>
        </div>
    </div>

    <div class="banner__right">
        <figure>
            <img src="votacion.webp" alt="banner">
        </figure>
    </div>
</section>
