<section class="candidates-section">
    <div class="container">
      <header class="page-header">
        <h1 class="page-title">Conozca a los candidatos</h1>
        <p class="page-subtitle">Infórmese sobre cada candidato y su plataforma antes de emitir su voto</p>
      </header>
      
      <!-- <app-search-bar></app-search-bar> -->
      
      <div class="candidates-grid">
        <lib-candidate-card>
            
        </lib-candidate-card>
        <!-- <app-candidate-card 
          *ngFor="let candidate of candidates" 
          [candidate]="candidate"
          class="candidate-item"
        ></app-candidate-card> -->
      </div>
    </div>
  </section>